$font-size: 1rem;
$main-font: 'Gilroy', 'Helvetica', 'Arial', 'sans-serif';
$background-color: #fff;
$font-color: #dae0e0;
$page-width: 650px;

// theme
$text: #2e3a47;
$primary: #4169e1;
$primary-light: #acbdcd;
$secondary: #ff5319;
$secondary-dark: darken($secondary, 10%);

// responsive
$container-pc: 1600px;
$container-mb: 1200px;
